# Laboratorio 1 Aprendizaje de Máquina

Integrantes del grupo:
1. Emmanuel Blanco - 202312743
2. Juan David Guzmán - #

## Exploración de Datos

Para poder hacer la exploración de los datos primero importamos todas la librerías que nos pueden resultar útiles:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#TODO: Incluir importaciones necesarias de scikit-learn aquí
#from sklearn.preprocessing import

A continuación incluimos las versiones de las librerías que empleamos:

In [4]:
from importlib.metadata import version
print(f"Versión de Pandas: {version('pandas')}")
print(f"Versión de Matplotlib: {version('matplotlib')}")
print(f"Versión de Seaborn: {version('seaborn')}")
print(f"Versión de Scikit learn: {version('scikit-learn')}")

Versión de Pandas: 2.2.3
Versión de Matplotlib: 3.10.0
Versión de Seaborn: 0.13.2
Versión de Scikit learn: 1.6.1

En el siguiente espacio para código desplegamos la información contenida en el diccionario de datos para informanos sobre lo que contienen los datos

In [5]:
#Cargamos en diccionario de datos
dict_datos = pd.read_excel("./data/DiccPacientes.xlsx")
pd.set_option('display.max_colwidth', None)
dict_datos

,Nombre Columna,Tipo de dato,Comentarios
0,Patient ID,String,Identificador del paciente
1,Date of Service,Date,Fecha de la atención
2,Sex,String,"Sexo (Femenino, Masculino)"
3,Age,Integer,Edad
4,Weight (kg),Float,Peso
5,Height (m),Float,Altura
6,BMI,Float,Índice de masa corporal
7,Abdominal Circumference (cm),Float,Circunferencia abdominal
8,Blood Pressure (mmHg),String,"Presión sanguínea, de la forma ""<Presión arterial sistólica>/<Presión arterial diastólica>"""
9,Total Cholesterol (mg/dL),Float,Colesterol total
10,HDL (mg/dL),Float,Lipoproteína de alta densidad en el torrente sanguíneo
11,Fasting Blood Sugar (mg/dL),Float,Nivel de azucar en la sangre en ayuno
12,Smoking Status,Boolean,Booleano que indica si el paciente es fumador
13,Diabetes Status,Boolean,Booleano que indica si el paciente es diabético
14,Physical Activity Level,String,"Nivel de actividad física (Alto, Moderado, Bajo)"
15,Family History of CVD,Boolean,Booleano que indica si en la familia han habido antecedentes de enfermedad cardio vascular
16,Height (cm),Float,Estatura
17,Waist-to-Height Ratio,FLoat,Cociente entre la circumferencia de la cintura y la altura
18,Systolic BP,Integer,Presión arterial sistólica
19,Diastolic BP,Integer,Presión arterial diastólica
20,Blood Pressure Category,String,"Categoría de presión sanguínea (Normal, Elevada, Hipertensión Etapa 1, Elevada, Hipertensión Etapa 2)"
21,Estimated LDL (mg/dL),Float,Lipoproteína de baja densidad en el torrente sanguíneo
22,CVD Risk Score,Float,Riesgo cardiovascular
23,CVD Risk Level,String,"Nivel de riesgo cadiovascular (Alto, Intermedio, Bajo)"

Ahora pasamos a cargar los datos de prueba dentro de un dataframe para poder revisarlos e identificar detalles que debamos corregir o preparar para luego pasárselos al modelo

In [23]:
training_data = pd.read_csv("./data/Datos_Lab_1.csv")
training_data

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Physical Activity Level,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level
0,isDx5313,"November 08, 2023",M,44.0,114.300,1.720,38.600,100.000,112/83,228.0,...,High,N,172.000,0.581,112.0,83.0,Hypertension Stage 1,121.0,19.880,HIGH
1,LHCK2961,20/03/2024,F,57.0,92.923,1.842,33.116,106.315,101/91,158.0,...,High,Y,184.172,0.577,101.0,91.0,Hypertension Stage 2,57.0,16.833,INTERMEDIARY
2,WjVn1699,2021-05-27,F,NaN,73.400,1.650,27.000,78.100,90/74,135.0,...,High,N,165.000,0.473,90.0,74.0,Normal,45.0,12.600,LOW
3,dCDO1109,"April 18, 2022",F,35.0,113.300,1.780,35.800,79.600,92/89,158.0,...,Moderate,Y,178.000,0.447,92.0,89.0,Hypertension Stage 1,94.0,14.920,HIGH
4,pnpE1080,01/11/2024,F,48.0,102.200,1.750,33.400,106.700,121/68,207.0,...,Low,Y,175.000,0.610,121.0,68.0,Elevated,128.0,18.870,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1634,mrzf5858,"May 21, 2021",F,35.0,77.600,1.780,24.500,84.600,124/90,143.0,...,Low,N,178.000,0.475,124.0,90.0,Hypertension Stage 2,37.0,13.960,LOW
1635,nPnN5477,12/04/2022,F,35.0,92.005,1.726,NaN,98.692,95/111,156.0,...,High,N,172.602,0.572,95.0,111.0,Hypertension Stage 2,46.0,14.316,LOW
1636,ePpS4710,12/04/2022,M,48.0,50.100,1.770,16.000,104.100,146/95,210.0,...,Low,Y,177.000,0.588,146.0,NaN,Hypertension Stage 2,110.0,NaN,HIGH
1637,QSFT6794,"September 06, 2025",M,49.0,NaN,1.630,23.100,93.800,144/91,191.0,...,Moderate,Y,163.000,0.575,144.0,NaN,Hypertension Stage 2,82.0,17.640,HIGH
1638,pDkH8432,2021-05-01,F,NaN,59.200,1.800,18.300,71.900,116/83,280.0,...,High,N,180.000,0.399,116.0,83.0,Hypertension Stage 1,171.0,15.060,INTERMEDIARY

Tamaño del dataframe:

In [24]:
print(training_data.shape)

(1639, 24)

Tipo de los datos de las columnas de nuestro dataframe

In [25]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1639 entries, 0 to 1638
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient ID                    1639 non-null   object
 1   Date of Service               1639 non-null   object
 2   Sex                           1639 non-null   object
 3   Age                           1571 non-null   float64
 4   Weight (kg)                   1566 non-null   float64
 5   Height (m)                    1578 non-null   float64
 6   BMI                           1586 non-null   float64
 7   Abdominal Circumference (cm)  1578 non-null   float64
 8   Blood Pressure (mmHg)         1639 non-null   object
 9   Total Cholesterol (mg/dL)     1571 non-null   float64
 10  HDL (mg/dL)                   1557 non-null   float64
 11  Fasting Blood Sugar (mg/dL)   1585 non-null   float64
 12  Smoking Status                1639 non-null   object
 13  Diabetes Status               1639 non-null   object
 14  Physical Activity Level       1639 non-null   object
 15  Family History of CVD         1639 non-null   object
 16  Height (cm)                   1571 non-null   float64
 17  Waist-to-Height Ratio         1563 non-null   float64
 18  Systolic BP                   1578 non-null   float64
 19  Diastolic BP                  1554 non-null   float64
 20  Blood Pressure Category       1639 non-null   object
 21  Estimated LDL (mg/dL)         1582 non-null   float64
 22  CVD Risk Score                1610 non-null   float64
 23  CVD Risk Level                1639 non-null   object
dtypes: float64(14), object(10)
memory usage: 307.4+ KB

Descripción de los datos

In [26]:
training_data.describe()

,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Estimated LDL (mg/dL),CVD Risk Score
count,1571.000000,1566.000000,1578.000000,1586.000000,1578.000000,1571.000000,1557.000000,1585.000000,1571.000000,1563.000000,1578.000000,1554.000000,1582.000000,1610.000000
mean,46.803186,85.666006,1.757439,28.424744,91.538861,199.043673,56.183558,117.836860,175.770082,0.522440,125.632637,82.887536,113.235896,18.227281
std,13.039479,21.712504,0.118012,7.309275,13.427985,59.388670,16.721702,32.379634,11.695880,0.085692,22.577463,15.503625,61.435291,10.767666
min,6.134000,13.261000,1.371000,4.317000,49.542000,-1.256000,0.008000,15.306000,136.498000,0.250000,49.914000,31.720000,-92.055000,-20.057000
25%,37.000000,67.100000,1.666500,22.600000,79.700000,150.000000,42.000000,92.000000,167.000000,0.453000,108.000000,71.000000,62.000000,15.150000
50%,46.000000,86.314000,1.760000,28.000000,91.200000,199.000000,56.000000,115.000000,176.000000,0.519000,125.000000,82.000000,112.000000,16.967000
75%,55.000000,104.801500,1.850000,33.963000,102.267250,250.000000,70.000000,139.000000,185.000000,0.582000,141.000000,93.000000,159.000000,18.900000
max,89.420000,158.523000,2.146000,53.028000,136.336000,385.679000,110.315000,219.667000,214.394000,0.804000,202.711000,134.066000,317.314000,114.980000

Podemos ver que el conteo de algunas columnas resulta distinta de 1639, lo que indica falta de datos en algunas columnas. Con base en eso ejecutamos la siguiente instrucción:

In [27]:
((training_data.isnull().sum()/training_data.shape[0])).sort_values(ascending=False)

Diastolic BP                    0.051861
HDL (mg/dL)                     0.050031
Waist-to-Height Ratio           0.046370
Weight (kg)                     0.044539
Total Cholesterol (mg/dL)       0.041489
Age                             0.041489
Height (cm)                     0.041489
Height (m)                      0.037218
Abdominal Circumference (cm)    0.037218
Systolic BP                     0.037218
Estimated LDL (mg/dL)           0.034777
Fasting Blood Sugar (mg/dL)     0.032947
BMI                             0.032337
CVD Risk Score                  0.017694
Sex                             0.000000
Patient ID                      0.000000
Date of Service                 0.000000
Family History of CVD           0.000000
Diabetes Status                 0.000000
Smoking Status                  0.000000
Blood Pressure (mmHg)           0.000000
Physical Activity Level         0.000000
Blood Pressure Category         0.000000
CVD Risk Level                  0.000000
dtype: float64

Hacen falta datos en las columnas Age, Weight, HDL, BMI, Height, Abdominal Circumference, Height (cm), Waist-to-Height ratio, Total Cholesterol, Systolic BP, Diastolic BP, Estimated LDL, Fasting Blood Sugar y CVD Risk Score

In [28]:
# Filtrar filas con Calificación nula
nulos_age = training_data[training_data['Age'].isna()].copy()
nulos_weight = training_data[training_data["Weight (kg)"].isna()].copy()
nulos_HDL = training_data[training_data["HDL (mg/dL)"].isna()].copy()
nulos_BMI = training_data[training_data["BMI"].isna()].copy()
nulos_height_m = training_data[training_data["Height (m)"].isna()].copy()
nulos_abdmomin = training_data[training_data["Abdominal Circumference (cm)"].isna()].copy()
nulos_height_cm = training_data[training_data["Height (cm)"].isna()].copy()
nulos_w_h_ratio = training_data[training_data["Waist-to-Height Ratio"].isna()].copy()
nulos_colest = training_data[training_data["Total Cholesterol (mg/dL)"].isna()].copy()
nulos_systolic = training_data[training_data["Systolic BP"].isna()].copy()
nulos_blood_sugar = training_data[training_data["Fasting Blood Sugar (mg/dL)"].isna()].copy()
nulos_estimated_LDL = training_data[training_data["Estimated LDL (mg/dL)"].isna()].copy()
nulos_CVD_risk_score = training_data[training_data["CVD Risk Score"].isna()].copy()

# Contar cuántas son
print(f"Filas con Age nula: {nulos_age.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Age"].isna()]}")
print(f"Filas con Weight nula: {nulos_weight.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Weight (kg)"].isna()]}")
print(f"Filas con HDL nula: {nulos_HDL.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["HDL (mg/dL)"].isna()]}")
print(f"Filas con BMI nula: {nulos_BMI.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["BMI"].isna()]}")
print(f"Filas con Height (m) nula: {nulos_height_m.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Height (m)"].isna()]}")
print(f"Filas con Abdominal Circum nula: {nulos_abdmomin.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Abdominal Circumference (cm)"].isna()]}")
print(f"Filas con height (cm) nula: {nulos_height_cm.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Height (cm)"].isna()]}")
print(f"Filas con Waist-height ratio nula: {nulos_w_h_ratio.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Waist-to-Height Ratio"].isna()]}")
print(f"Filas con Total Cholest nula: {nulos_colest.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Total Cholesterol (mg/dL)"].isna()]}")
print(f"Filas con Systolic nula: {nulos_systolic.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Systolic BP"].isna()]}")
print(f"Filas con Blood Sugar nula: {nulos_blood_sugar.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Fasting Blood Sugar (mg/dL)"].isna()]}")
print(f"Filas con Estimated LDL nula: {nulos_estimated_LDL.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["Estimated LDL (mg/dL)"].isna()]}")
print(f"Filas con CVD risk score nula: {nulos_CVD_risk_score.shape[0]}")
print(f"Filas afectadas: {training_data.index[training_data["CVD Risk Score"].isna()]}")

Filas con Age nula: 68
Filas afectadas: Index([   2,   16,   21,   47,   49,   84,   85,  104,  126,  155,  165,  179,
        201,  226,  277,  307,  316,  354,  372,  451,  460,  533,  535,  540,
        595,  598,  604,  616,  652,  659,  714,  737,  760,  779,  784,  792,
        809,  879,  921,  958,  970,  984, 1043, 1045, 1052, 1058, 1068, 1090,
       1098, 1101, 1120, 1125, 1264, 1269, 1355, 1369, 1400, 1445, 1483, 1484,
       1495, 1531, 1595, 1605, 1608, 1621, 1624, 1638],
      dtype='int64')
Filas con Weight nula: 73
Filas afectadas: Index([  12,   74,   80,  105,  132,  136,  149,  161,  164,  227,  251,  270,
        342,  356,  365,  374,  432,  517,  522,  556,  579,  629,  641,  650,
        656,  660,  661,  681,  688,  728,  754,  774,  907,  914,  937,  940,
        951,  959,  960,  977,  994, 1015, 1019, 1059, 1067, 1099, 1105, 1139,
       1157, 1244, 1285, 1293, 1294, 1332, 1350, 1371, 1384, 1388, 1405, 1433,
       1447, 1464, 1470, 1474, 1490, 1492, 1495, 1549, 1554, 1558, 1563, 1622,
       1637],
      dtype='int64')
Filas con HDL nula: 82
Filas afectadas: Index([  14,   28,   31,   33,   51,   75,  101,  109,  151,  199,  208,  216,
        229,  235,  264,  293,  304,  334,  340,  342,  371,  378,  383,  394,
        401,  411,  432,  446,  456,  461,  515,  558,  560,  591,  605,  612,
        669,  671,  678,  682,  691,  826,  837,  844,  858,  901,  917,  924,
        928,  935,  962,  996, 1001, 1059, 1067, 1084, 1099, 1107, 1117, 1123,
       1178, 1236, 1256, 1258, 1310, 1318, 1335, 1386, 1398, 1410, 1437, 1455,
       1456, 1474, 1484, 1492, 1590, 1598, 1600, 1612, 1623, 1633],
      dtype='int64')
Filas con BMI nula: 53
Filas afectadas: Index([  15,   22,   70,   78,  223,  251,  254,  258,  302,  319,  353,  360,
        396,  411,  438,  445,  452,  487,  489,  508,  519,  523,  531,  568,
        586,  635,  683,  709,  742,  766,  821,  947,  978,  999, 1008, 1035,
       1054, 1061, 1118, 1171, 1224, 1278, 1318, 1325, 1385, 1386, 1387, 1419,
       1466, 1556, 1577, 1594, 1635],
      dtype='int64')
Filas con Height (m) nula: 61
Filas afectadas: Index([  22,   81,  136,  152,  155,  162,  196,  217,  272,  288,  306,  311,
        440,  443,  453,  457,  462,  476,  502,  508,  541,  553,  571,  624,
        647,  656,  660,  664,  672,  680,  684,  697,  762,  814,  839,  867,
        891,  936, 1031, 1039, 1072, 1095, 1108, 1136, 1142, 1239, 1248, 1261,
       1332, 1371, 1396, 1448, 1485, 1497, 1513, 1517, 1573, 1615, 1617, 1625,
       1632],
      dtype='int64')
Filas con Abdominal Circum nula: 61
Filas afectadas: Index([  43,   90,  105,  115,  131,  188,  197,  198,  338,  340,  346,  381,
        400,  405,  415,  434,  436,  502,  513,  514,  537,  553,  555,  561,
        575,  585,  625,  652,  671,  673,  701,  711,  715,  735,  741,  744,
        772,  799,  823,  824,  893,  991, 1000, 1170, 1180, 1195, 1317, 1332,
       1343, 1350, 1367, 1425, 1429, 1443, 1449, 1452, 1470, 1516, 1565, 1573,
       1579],
      dtype='int64')
Filas con height (cm) nula: 68
Filas afectadas: Index([  11,   23,   41,   53,   59,   61,   72,   76,  124,  128,  151,  190,
        197,  237,  250,  287,  306,  324,  344,  363,  393,  426,  431,  477,
        480,  494,  523,  527,  537,  563,  601,  604,  614,  684,  722,  737,
        794,  839,  841,  858,  916,  948,  964,  996,  999, 1004, 1032, 1064,
       1080, 1118, 1129, 1132, 1160, 1170, 1254, 1305, 1336, 1348, 1367, 1433,
       1452, 1455, 1471, 1484, 1486, 1530, 1571, 1590],
      dtype='int64')
Filas con Waist-height ratio nula: 76
Filas afectadas: Index([  17,   76,   86,  115,  133,  146,  172,  241,  249,  266,  275,  286,
        352,  389,  403,  408,  420,  439,  462,  479,  503,  528,  538,  595,
        617,  626,  631,  648,  683,  688,  702,  767,  780,  800,  842,  943,
        971,  981,  986, 1002, 1028, 1084, 1089, 1094, 1146, 1149, 1152, 1176,
       1186, 1198, 1227, 1259, 1265, 1272, 1285, 1301, 1345, 1363, 1368, 1371,
       1390, 1418, 1435, 1465, 1507, 1519, 1527, 1534, 1536, 1552, 1581, 1584,
       1603, 1606, 1613, 1615],
      dtype='int64')
Filas con Total Cholest nula: 68
Filas afectadas: Index([  34,  103,  124,  155,  157,  173,  175,  178,  244,  278,  304,  355,
        411,  447,  461,  463,  464,  501,  511,  535,  557,  568,  595,  610,
        622,  633,  645,  649,  653,  656,  729,  773,  813,  816,  823,  883,
        914,  928,  951,  965,  990,  997, 1040, 1053, 1073, 1085, 1114, 1185,
       1196, 1216, 1225, 1250, 1282, 1297, 1301, 1302, 1369, 1398, 1404, 1432,
       1433, 1435, 1444, 1456, 1522, 1551, 1607, 1629],
      dtype='int64')
Filas con Systolic nula: 61
Filas afectadas: Index([  20,   61,  132,  167,  186,  189,  193,  194,  196,  268,  300,  328,
        329,  339,  408,  411,  421,  439,  458,  508,  516,  540,  544,  583,
        599,  605,  622,  774,  791,  792,  801,  814,  821,  861,  867,  891,
        947,  969,  985, 1002, 1085, 1112, 1133, 1164, 1181, 1183, 1184, 1214,
       1236, 1254, 1286, 1316, 1338, 1375, 1392, 1428, 1520, 1531, 1537, 1595,
       1616],
      dtype='int64')
Filas con Blood Sugar nula: 54
Filas afectadas: Index([  71,  125,  145,  160,  171,  183,  212,  239,  254,  258,  293,  300,
        368,  386,  394,  417,  508,  531,  571,  678,  688,  708,  725,  757,
        767,  773,  782,  897,  951, 1011, 1013, 1051, 1057, 1136, 1157, 1173,
       1179, 1194, 1248, 1259, 1281, 1292, 1329, 1393, 1435, 1437, 1441, 1455,
       1464, 1471, 1489, 1490, 1551, 1582],
      dtype='int64')
Filas con Estimated LDL nula: 57
Filas afectadas: Index([  26,   45,   57,   93,  100,  160,  213,  220,  251,  272,  285,  314,
        322,  357,  400,  422,  482,  502,  506,  552,  553,  567,  579,  635,
        675,  700,  790,  810,  848,  860,  941,  970, 1007, 1015, 1019, 1038,
       1071, 1088, 1164, 1183, 1196, 1220, 1260, 1278, 1312, 1316, 1339, 1346,
       1399, 1402, 1405, 1500, 1564, 1573, 1605, 1619, 1621],
      dtype='int64')
Filas con CVD risk score nula: 29
Filas afectadas: Index([   8,   55,  188,  252,  338,  445,  458,  504,  543,  551,  627,  709,
        725,  807,  936, 1056, 1210, 1255, 1289, 1327, 1342, 1421, 1482, 1483,
       1488, 1503, 1535, 1563, 1636],
      dtype='int64')

Revisamos si hay ids duplicados en nuestros datos:

In [29]:
# ids duplicados
dup_counts = (training_data["Patient ID"].value_counts()
                        .loc[lambda s: s > 1]
                        .sort_values(ascending=False))
for id_, n in dup_counts.items():
    print(f"Id={id_} → {n} apariciones")

if dup_counts.sum() == 0:
    print("No hay duplicados")

Id=AhYt1346 → 3 apariciones
Id=RlsB8509 → 3 apariciones
Id=RwGu5647 → 3 apariciones
Id=dJuC5084 → 3 apariciones
Id=YLCe2926 → 3 apariciones
Id=dSiv4949 → 3 apariciones
Id=pEpZ9034 → 3 apariciones
Id=STpP5810 → 3 apariciones
Id=DhUJ7239 → 3 apariciones
Id=gdBF9655 → 3 apariciones
Id=INdI1482 → 3 apariciones
Id=lqUc7918 → 3 apariciones
Id=CDsa2651 → 3 apariciones
Id=FTEC4446 → 3 apariciones
Id=xbYu9929 → 3 apariciones
Id=cUUw7860 → 3 apariciones
Id=XUjh9519 → 3 apariciones
Id=miQs7675 → 3 apariciones
Id=fHqx3420 → 3 apariciones
Id=svjU9851 → 3 apariciones
Id=FnQr5343 → 3 apariciones
Id=dNyM1057 → 3 apariciones
Id=kajW6905 → 3 apariciones
Id=DxSq2036 → 3 apariciones
Id=ZDBx7052 → 3 apariciones
Id=Uinq3357 → 3 apariciones
Id=UIWC3599 → 3 apariciones
Id=NGwd5164 → 3 apariciones
Id=GPCF6283 → 3 apariciones
Id=xFVW5778 → 3 apariciones
Id=KiRC8867 → 3 apariciones
Id=CYeS2965 → 3 apariciones
Id=KXhc1181 → 3 apariciones
Id=HVVR3121 → 3 apariciones
Id=kijK0146 → 3 apariciones
Id=Uexs7461 → 3 apariciones
Id=ePpS4710 → 3 apariciones
Id=Xvbe7861 → 3 apariciones
Id=szyX1885 → 3 apariciones
Id=NOcd2332 → 3 apariciones
Id=tCaB2910 → 3 apariciones
Id=mMoS9467 → 3 apariciones
Id=zhZi8857 → 3 apariciones
Id=oSqq7069 → 3 apariciones
Id=nmgP2712 → 3 apariciones
Id=ZEEd3660 → 3 apariciones
Id=aKVE8560 → 3 apariciones
Id=ltOL4864 → 3 apariciones
Id=NvOx6625 → 3 apariciones
Id=vKKa9024 → 3 apariciones
Id=gBFe4249 → 3 apariciones
Id=EsZI4603 → 3 apariciones
Id=sINw8855 → 3 apariciones
Id=HNpy8362 → 3 apariciones
Id=LdMm6225 → 3 apariciones
Id=ivTX4645 → 3 apariciones
Id=CKKa5109 → 3 apariciones
Id=tlWh1188 → 3 apariciones
Id=VdGt7927 → 3 apariciones
Id=VgtQ3260 → 3 apariciones
Id=KQUs0708 → 3 apariciones
Id=gXxm9399 → 3 apariciones
Id=TPHC2670 → 3 apariciones
Id=mrZW4662 → 3 apariciones
Id=bCoz6266 → 3 apariciones
Id=rfYk3516 → 3 apariciones
Id=QAxZ5540 → 3 apariciones
Id=GhAN9460 → 3 apariciones
Id=Kbzi4901 → 3 apariciones
Id=ChGR7779 → 3 apariciones
Id=KGuE6384 → 3 apariciones
Id=IwMD4008 → 3 apariciones
Id=ZoSr4813 → 3 apariciones
Id=inTX4760 → 3 apariciones
Id=PHii0023 → 3 apariciones
Id=wMaN5754 → 3 apariciones
Id=Lclg1001 → 3 apariciones
Id=THSJ8564 → 3 apariciones
Id=wWyM6139 → 3 apariciones
Id=Keaq9838 → 3 apariciones
Id=gynJ3543 → 3 apariciones
Id=zZle5455 → 3 apariciones
Id=LpyK7269 → 3 apariciones
Id=BQvQ6431 → 3 apariciones
Id=viiE0140 → 3 apariciones
Id=NIUR3991 → 3 apariciones
Id=QJtE0701 → 3 apariciones
Id=HNwp6592 → 3 apariciones
Id=DIVT3121 → 3 apariciones
Id=eAaf2477 → 3 apariciones
Id=ZEFR1505 → 3 apariciones
Id=XZCU4466 → 3 apariciones
Id=pgnn4679 → 2 apariciones
Id=ahGL8318 → 2 apariciones
Id=Pymh0850 → 2 apariciones
Id=rKiV2789 → 2 apariciones
Id=ejaQ6145 → 2 apariciones
Id=MgXe4245 → 2 apariciones
Id=smHR2919 → 2 apariciones
Id=VLVq5824 → 2 apariciones
Id=onxs7441 → 2 apariciones
Id=WYTG8678 → 2 apariciones
Id=MHmw6712 → 2 apariciones
Id=FBaT4422 → 2 apariciones
Id=NVif7667 → 2 apariciones
Id=ZGBy9927 → 2 apariciones
Id=bfQi7977 → 2 apariciones
Id=kRky8715 → 2 apariciones
Id=DYFB4591 → 2 apariciones
Id=zxhX5525 → 2 apariciones
Id=gBkb9775 → 2 apariciones
Id=VDrf2285 → 2 apariciones
Id=hCKL0289 → 2 apariciones
Id=ntsT3889 → 2 apariciones
Id=ehvE6824 → 2 apariciones
Id=wTEx7709 → 2 apariciones
Id=yAIB3468 → 2 apariciones
Id=mxFg5746 → 2 apariciones
Id=VeuU1914 → 2 apariciones
Id=dhlY5910 → 2 apariciones
Id=OUNl8443 → 2 apariciones
Id=HDci2116 → 2 apariciones
Id=rZFB5714 → 2 apariciones
Id=dYMT7130 → 2 apariciones
Id=Lmau8226 → 2 apariciones
Id=KutO4083 → 2 apariciones
Id=UCpb1925 → 2 apariciones
Id=MJZU2601 → 2 apariciones
Id=YaPD8028 → 2 apariciones
Id=LQri5564 → 2 apariciones
Id=hcWQ3987 → 2 apariciones
Id=SQsD4235 → 2 apariciones
Id=wwQq6290 → 2 apariciones
Id=bNhW2776 → 2 apariciones
Id=JUKG7229 → 2 apariciones
Id=yAsk5000 → 2 apariciones
Id=yvsn3005 → 2 apariciones
Id=zcgB3048 → 2 apariciones
Id=QygN1471 → 2 apariciones
Id=Axab9332 → 2 apariciones
Id=XWZe0658 → 2 apariciones
Id=lzsg5308 → 2 apariciones
Id=Udkp3117 → 2 apariciones
Id=rBeu8995 → 2 apariciones
Id=BqZp2317 → 2 apariciones
Id=TLHr8263 → 2 apariciones
Id=ICKt4668 → 2 apariciones
Id=tkyk7116 → 2 apariciones
Id=QofN2517 → 2 apariciones
Id=NMqH5860 → 2 apariciones
Id=Xpxi0931 → 2 apariciones
Id=NPoi0358 → 2 apariciones
Id=uRma9782 → 2 apariciones
Id=MmNI0458 → 2 apariciones
Id=LiFG5942 → 2 apariciones
Id=QoLE0357 → 2 apariciones
Id=nYmY8885 → 2 apariciones
Id=YKfg0090 → 2 apariciones
Id=CeLz4743 → 2 apariciones
Id=QaBF6317 → 2 apariciones
Id=QRhH2884 → 2 apariciones
Id=UQyn8657 → 2 apariciones
Id=Lxhd3039 → 2 apariciones
Id=vDwp9960 → 2 apariciones
Id=Wctu6941 → 2 apariciones
Id=JsvV0478 → 2 apariciones
Id=ILxw8900 → 2 apariciones
Id=uYHb9745 → 2 apariciones
Id=QoxE0340 → 2 apariciones
Id=KYAn6843 → 2 apariciones
Id=XRDV9217 → 2 apariciones

Ahora vemos en detalle las filas con ids repetidos:

In [30]:
# Detalle de los registros
dup_table = (
    training_data[training_data['Patient ID'].duplicated(keep=False)]
    .copy()
    .assign(repeticiones=training_data.groupby('Patient ID')['Patient ID'].transform('size'))
    .sort_values(['repeticiones', 'Patient ID'], ascending=[False, True])
)
# Mostrar tabla
dup_table

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level,repeticiones
17,AhYt1346,09-28-2020,M,41.0,71.300,1.730,23.800,107.9,139/61,253.0,...,Y,173.000,NaN,139.0,NaN,Hypertension Stage 1,146.0,16.770,HIGH,3
1227,AhYt1346,09-28-2020,M,41.0,71.300,1.730,23.800,107.9,139/61,253.0,...,Y,173.000,NaN,139.0,NaN,Hypertension Stage 1,146.0,-13.090,HIGH,3
1584,AhYt1346,09-28-2020,M,41.0,71.300,1.730,23.800,107.9,139/61,253.0,...,Y,173.000,NaN,139.0,NaN,Hypertension Stage 1,146.0,16.770,HIGH,3
130,BQvQ6431,09/11/2020,M,33.0,118.300,1.690,41.400,72.1,116/93,171.0,...,N,210.554,0.427,116.0,93.0,Hypertension Stage 2,97.0,17.500,LOW,3
1469,BQvQ6431,09/11/2020,M,33.0,118.300,1.690,41.400,72.1,116/93,171.0,...,N,210.554,0.427,116.0,93.0,Hypertension Stage 2,97.0,29.833,LOW,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,yvsn3005,28 Oct 20,F,60.0,54.300,1.810,16.600,99.1,133/65,187.0,...,N,181.000,0.548,133.0,65.0,Hypertension Stage 1,79.0,15.710,INTERMEDIARY,2
95,zcgB3048,12/06/2020,M,38.0,60.436,1.506,20.269,79.7,168/63,119.0,...,N,150.616,0.529,168.0,63.0,Hypertension Stage 2,43.0,14.834,HIGH,2
375,zcgB3048,12/06/2020,M,38.0,60.436,1.506,20.269,79.7,168/63,119.0,...,N,150.616,0.529,168.0,63.0,Hypertension Stage 2,43.0,14.834,HIGH,2
799,zxhX5525,"November 13, 2021",M,26.0,58.953,1.688,25.286,NaN,110/114,258.0,...,Y,168.763,0.455,110.0,114.0,Hypertension Stage 2,170.0,15.717,HIGH,2
1565,zxhX5525,"November 13, 2021",M,26.0,58.953,1.688,25.286,NaN,110/114,258.0,...,Y,168.763,0.455,110.0,114.0,Hypertension Stage 2,170.0,15.717,HIGH,2

Se puede ver que en las repeticiones no hay cambios en ninguno de los campos, por lo que no tiene sentido tener estas columnas repetidas

Ahora revisaremos el formato de las fechas:

In [31]:
training_data.loc[:10,"Date of Service"]

0     November 08, 2023
1            20/03/2024
2            2021-05-27
3        April 18, 2022
4            01/11/2024
5             25 Mar 24
6             22 May 25
7      October 26, 2023
8            15/12/2023
9      January 16, 2022
10            18 Jun 23
Name: Date of Service, dtype: object

Tan solo con mirar los 10 primeros datos vemos que el formato de las fechas no está unificado. Quizá sea útil unificar este formato a pesar de que la fecha no pueda resultar útil en la regresión.

## Preparación de datos

## Construcción del modelo de regresión lineal

## Evaluación cuantitativa

## Evaluación cualitativa

## Uso del modelo de regresión

## Respuestas a las preguntas del apartado Análisis de resultados

Una vez construido los modelos, deberías estar en capacidad de responder estas preguntas:

- ¿Cuál fue el valor de los diferentes coeficientes obtenidos en el mejor modelo?

- A partir de la tabla comparativa, ¿cuál modelo ofrece el mejor rendimiento sobre el conjunto test? ¿Qué interpretación puedes darles a los valores obtenidos sobre las métricas de rendimiento?

- ¿Cuáles variables fueron seleccionadas con el modelo seleccionado? A partir de estas, ¿qué interpretación de cara al problema puedes dar? Reflexiona sobre cómo este nuevo conocimiento podría ayudar a tomar decisiones en el contexto del problema.

- A partir del contexto y los datos compartidos, ¿cómo representar la regresión lineal de forma matemática? Indique el método utilizado y el proceso para resolverlo.

- En el ciclo de machine learning ¿Qué tipos de sesgo podría afectar los resultados y por qué? Describe dos tipos de sesgo.